<div class="flex h-screen antialiased text-gray-800 overflow-hidden">
    <div class="flex flex-row h-full w-full  overflow-hidden">
        <div class="flex flex-col py-8 pl-6 pr-2 w-48 md:w-64 bg-white flex-shrink-0">
            <div class="flex flex-row items-center justify-center  h-12 w-full">
                <div class="flex items-center justify-center rounded-2xl text-indigo-700 bg-indigo-100 h-10 w-10">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z">
                        </path>
                    </svg>
                </div>
                <div class="ml-2 font-bold text-2xl">QuickChat</div>
            </div>
            <div class="flex flex-col mt-8 ">
                <div class="flex flex-row items-center justify-between text-xs">
                    <span class="font-bold">Active Conversations</span>
                    <!-- <span class="flex items-center justify-center bg-gray-300 h-4 w-4 rounded-full">4</span> -->
                </div>

                <div *ngFor="let user of users"
                    class="scroll-hide  flex flex-col space-y-1 mt-4 -mx-2   overflow-y-auto">

                    <button (click)="getFullChat(user._id)"
                        class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2">
                        <div class="flex items-center justify-center h-8 w-8 bg-gray-200 rounded-full">
                            M
                        </div>
                        <div class="ml-2 text-sm font-semibold"> {{user.name}}</div>
                        <!-- <div
                            class="flex items-center justify-center ml-auto text-xs text-white bg-red-500 h-4 w-4 rounded leading-none">
                            2
                        </div> -->
                    </button>

                </div>
            </div>
        </div>
        <div *ngIf="!messages" class="overflow-hidden border border-x border-grey-100  flex flex-col flex-auto h-full">
            <div class="  rounded bg-white h-full   flex flex-col items-center justify-center ">
                <div class="h-1/2    w-1/2 bg-[#0B1C39] rounded-tr flex items-center text-white ">
                    <img src="assets/7495.jpg" alt="" class="text-base ">

                </div>

            </div>

        </div>
        <div *ngIf="messages" class=" flex flex-col flex-auto h-full p-6 ">
            <div class="flex flex-col flex-auto flex-shrink-0 rounded bg-gray-100 h-full p-4 ">
                <div class="h-28 w-full bg-[#0B1C39] rounded  flex items-center ">
                    <img src="assets/profile.png" alt="" class="h-6 px-8 rounded-full ">
                    <h3 class="text-white uppercase ">{{oponent}}</h3>
                </div>
                <div class="chatContainer flex scroll-hide  flex flex-col h-full overflow-x-auto mb-4  " #chatContainer>

                    <div class=" flex-col h-full  ">
                        <div *ngFor="let chat of messages" class=" grid grid-cols-12 gap-y-2">
                            <div *ngIf="chat.sender === pair" class="col-start-1 col-end-8 p-3 rounded-lg">
                                <div class="flex flex-row items-center">
                                    <div
                                        class="flex items-center justify-center h-10 w-10 rounded-full text-white bg-[#0B1C39] flex-shrink-0">

                                    </div>
                                    <div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl">
                                        <div>
                                            {{chat.message}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="chat.sender === userid" class="col-start-6 col-end-13 p-3 rounded-lg">
                                <div class="flex items-center justify-start flex-row-reverse">
                                    <div
                                        class="flex items-center justify-center h-10 w-10 rounded-full text-white bg-[#0B1C39] flex-shrink-0">

                                    </div>
                                    <div class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl">
                                        <div>
                                            {{chat.message}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row items-center h-16 rounded-xl bg-white w-full p-2  ">

                    <div class="flex-grow ">
                        <div class="relative w-full">
                            <input type="text" [(ngModel)]="message"
                                class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10" />

                        </div>
                    </div>
                    <div class="ml-4">

                        <button (click)="sendMessage()"
                            class="flex items-center justify-center text-white bg-[#0B1C39] hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0">
                            <span>Send</span>
                            <span class="ml-2">
                                <svg class="w-4 h-4 transform rotate-45 -mt-px" fill="none" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>